<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Used Proffile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <br />
  <div class="container">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <h2>User Details</h2>
  </div>
  <br />
  <div style="
  width: 600px; 
  margin: auto; 
  background: #f4f4f4; 
  padding: 20px;
  align-items: center; 
  display: flexbox; 
  text-align: center; ">
    <h1>Welcome</h1>
    <img src="<%= user.profile.photos[0].value %>" />
    <h2>Logged in as, <%= user.profile.displayName %></h2>

  </div>
</body>

</html>